{% extends 'base.html.twig' %}

{% block body %}
    <h1>Please Connect</h1>
    <div class="well">
        <div class="row justify-content-md-center txt-center">
            <div class="col-12 col-lg-6">
                {% include 'security/_login_part.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}