#gallery {
    margin-top: 20px;
    margin-bottom: 20px;
}

.img-wrapper {
    position: relative;
    margin-top: 15px;
    overflow: hidden;
    border-radius: 5px 5px 0 0;
    @media (min-width: 755px) {
        border-radius: 5px;
    }
    img {
        width: 100%;
        height: 170px;
        object-fit: cover;
    }
}
.img-overlay {
    background: rgba(0,0,0,0.7);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    opacity: 1;
    color: #fff;
    font-size: 1em;

    @media (min-width: 755px) {
        position: absolute;
        opacity: 0;
        font-size: 1.5em;
    }
}
