###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###
/public/uploads/
/public/sniffer/
.idea/
.buildpath
.project
.settings/

###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###

###> server ###
.bash_history
.composer/
.gnupg/
.npm/
.nvm/
.profile
.subversion/
.volta/
.yarn/
composer.phar
logs/
###< server ###
###> symfony/asset-mapper ###
/public/assets/
/assets/vendor/
###< symfony/asset-mapper ###

/bin/bin/
/bin/include/
/bin/lib/
/bin/lib64/
/bin/pyvenv.cfg
/bin/.venv
