{% extends 'weshtavu/base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="row row-cols-2 row-cols-xl-3 g-4" data-masonry='{"percentPosition": true }'>
        <section>
            {% for event in events %}
            <article>
                <twig:Article :event="event" withCloseButton />
            </article>
            {% endfor %}
            <article>
                <div class="video-card card mb-3">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="https://img.youtube.com/vi/O-HdzUU5bhE/0.jpg" class="img-fluid rounded-start"
                                 alt="..." style="height:100%;">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h3 class="card-title">Les Sénégalaises</h3>
                                <p class="card-text">SanSeverino</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="video-card card mb-3">
                    <div class="row g-0">
                        <div class="col-md-4 order-md-last order-first">
                            <img src="https://img.youtube.com/vi/O-HdzUU5bhE/0.jpg" class="img-fluid rounded-end"
                                 alt="..." style="height:100%;">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body" style="text-align:right">
                                <h3 class="card-title">Les Sénégalaises</h3>
                                <p class="card-text">SanSeverino</p>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="video-card card mb-3">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="https://img.youtube.com/vi/O-HdzUU5bhE/0.jpg" class="img-fluid rounded-start"
                                 alt="..." style="height:100%;">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h3 class="card-title">Les Sénégalaises</h3>
                                <p class="card-text">SanSeverino</p>
                            </div>
                        </div>
                    </div>
                </div>
            </article>

        </section>
        <section style="background-color: rgba(255,255,255,0.7)">
            <article>
                <span class="event-type">AU CINOCHE</span>
                <h2>Les films de la semaine</h2>
                <div class="subtitle d-flex justify-content-between">
                    <span class="author">Kevin Smith</span>
                    <span>&#9733; &#9733; &#9733;</span>
                    <span class="year">1995</span>
                </div>
                <div>
                    <div class="row g-0">
                        {% for film in films %}
                            <div class="col-12">
                                <img src="{{ asset('uploads/cinema/' ~ film.picture) }}" class="img-fluid rounded-top"
                                     alt="..." style="height:100%;">
                            </div>
                            <div class="col-12">
                                <div class="card-body" style="text-align:center;">
                                    <h3 class="card-title">{{ film.name }}</h3>
                                    <p class="card-text">film</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </article>
        </section>
        <section>
            <article class="">
                <span class="event-type">A LA RADIO</span>
                <h2>La playlist de la semaine</h2>
                <div class="subtitle d-flex justify-content-between">
                    <span class="author">Kevin Smith</span>
                    <span>&#9733; &#9733; &#9733;</span>
                    <span class="year">1995</span>
                </div>
                <div class="video-card card m-5">
                    <div class="row g-0">
                        <div class="col-12">
                            <img src="https://img.youtube.com/vi/2Z-2Zonbano/0.jpg" class="img-fluid rounded-top"
                                 alt="..." style="height:100%;">
                        </div>
                        <div class="col-12">
                            <div class="card-body" style="text-align:center;">
                                <h3 class="card-title">Travolta vs Rabbi Jacob</h3>
                                <p class="card-text">Xtrem</p>
                            </div>
                        </div>
                    </div>
                </div>
                <img src="{{ asset('resources/villemot/[Clio Team] Villemot 1956 Orangina.jpg') }}" width="100%"
                         style="border: 10px solid black;">
                <div class="video-card card m-5">
                    <div class="row g-0">
                        <div class="col-12">
                            <img src="https://img.youtube.com/vi/2Z-2Zonbano/0.jpg" class="img-fluid rounded-top"
                                 alt="..." style="height:100%;">
                        </div>
                        <div class="col-12">
                            <div class="card-body" style="text-align:center;">
                                <h3 class="card-title">Travolta vs Rabbi Jacob</h3>
                                <p class="card-text">Xtrem</p>
                            </div>
                        </div>
                    </div>
                </div>
                <p>
                    Les menaces de Donald Trump contre le Groenland et l’Europe montrent comment le président américain
                    manie la
                    force brute pour imposer sa vision. Qu’importe les accords et les alliances, si l’Union européenne
                    tente de
                    protéger le territoire danois, le président américain riposte avec des menaces de droits de douanes.
                    Résultat, les relations internationales se résument à un Far-West où ceux qui ont de la puissance
                    font plier
                </p>
            </article>
        </section>
        <section>
            <article class="">
                <h2>Un an de Trump II : comprendre la naissance d’un Etat autoritaire</h2>
                <div class="subtitle d-flex justify-content-between">
                    <span class="author">Kevin Smith</span>
                    <span>&#9733; &#9733; &#9733;</span>
                    <span class="year">1995</span>
                </div>
                <p>
                    Les menaces de Donald Trump contre le Groenland et l’Europe montrent comment le président américain
                    manie la
                    force brute pour imposer sa vision. Qu’importe les accords et les alliances, si l’Union européenne
                    tente de
                    protéger le territoire danois, le président américain riposte avec des menaces de droits de douanes.
                    Résultat, les relations internationales se résument à un Far-West où ceux qui ont de la puissance
                    font plier
                    ceux qui n’en ont pas.

                    C’est avec cette logique que Trump a mené la barre de son deuxième mandat, au point de
                    progressivement
                    transformer la démocratie américaine en Etat autoritaire. Mais jusqu’où pourra-t-il tenir sa ligne ?
                    Pour
                    répondre à vos questions sur le bilan du président américain, Libération reçoit Sonia
                    Delesalle-Stolper,
                    cheffe du service international et notre journaliste, Frédéric Autran, ancien correspondant aux
                    Etats-Unis.
                    Les menaces de Donald Trump contre le Groenland et l’Europe montrent comment le président américain
                    manie la
                    force brute pour imposer sa vision. Qu’importe les accords et les alliances, si l’Union européenne
                    tente de
                    protéger le territoire danois, le président américain riposte avec des menaces de droits de douanes.
                    Résultat, les relations internationales se résument à un Far-West où ceux qui ont de la puissance
                    font plier
                    ceux qui n’en ont pas.

                    C’est avec cette logique que Trump a mené la barre de son deuxième mandat, au point de
                    progressivement
                    transformer la démocratie américaine en Etat autoritaire. Mais jusqu’où pourra-t-il tenir sa ligne ?
                    Pour
                    répondre à vos questions sur le bilan du président américain, Libération reçoit Sonia
                    Delesalle-Stolper,
                    cheffe du service international et notre journaliste, Frédéric Autran, ancien correspondant aux
                    Etats-Unis.
                </p>
            </article>
        </section>

            <div class="carousel">
                <div class="group">
                    <div class="carte"><img src="https://img.youtube.com/vi/O-HdzUU5bhE/0.jpg"></div>
                    <div class="carte"><img src="https://img.youtube.com/vi/O-HdzUU5bhE/0.jpg"></div>
                    <div class="carte"><img src="https://img.youtube.com/vi/O-HdzUU5bhE/0.jpg"></div>
                </div>
                <!-- Ajoutez `aria-hidden` pour masquer les cartes dupliquées aux lecteurs d'écran. -->
                <div aria-hidden class="group">
                    <div class="carte"><img src="https://img.youtube.com/vi/O-HdzUU5bhE/0.jpg"></div>
                    <div class="carte"><img src="https://img.youtube.com/vi/O-HdzUU5bhE/0.jpg"></div>
                    <div class="carte"><img src="https://img.youtube.com/vi/O-HdzUU5bhE/0.jpg"></div>
                </div>
            </div>
    </div>
{% endblock %}
