{% extends 'weshtavu/base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="row row-cols-2 row-cols-xl-3 g-4" data-masonry='{"percentPosition": true }'>
        <section>
            <article>
                <h2><span style="color:#d5c9ad;">-o(</span> Du son, des images <span style="color:#d5c9ad;">°></span>
                </h2>
                <div class="subtitle d-flex justify-content-between">
                    <span class="author">Kevin Smith</span>
                    <span>&#9733; &#9733; &#9733;</span>
                    <span class="year">1995</span>
                </div>
                <br>
                <div class="video-card card mb-3">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="https://img.youtube.com/vi/O-HdzUU5bhE/0.jpg" class="img-fluid rounded-start"
                                 alt="..." style="height:100%;">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h3 class="card-title">Les Sénégalaises</h3>
                                <p class="card-text">SanSeverino</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="video-card card mb-3">
                    <div class="row g-0">
                        <div class="col-md-4 order-md-last order-first">
                            <img src="https://img.youtube.com/vi/O-HdzUU5bhE/0.jpg" class="img-fluid rounded-end"
                                 alt="..." style="height:100%;">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body" style="text-align:right">
                                <h3 class="card-title">Les Sénégalaises</h3>
                                <p class="card-text">SanSeverino</p>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="video-card card mb-3">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="https://img.youtube.com/vi/O-HdzUU5bhE/0.jpg" class="img-fluid rounded-start"
                                 alt="..." style="height:100%;">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h3 class="card-title">Les Sénégalaises</h3>
                                <p class="card-text">SanSeverino</p>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
            <article>
                <h2>Plus rien à perdre!</h2>
                <div class="subtitle d-flex justify-content-between">
                    <span class="author">Kevin Smith</span>
                    <span>&#9733; &#9733; &#9733;</span>
                    <span class="year">1995</span>
                </div>
                <div class="video-card card m-5">
                    <div class="row g-0">
                        <div class="col-12">
                            <img src="https://img.youtube.com/vi/2Z-2Zonbano/0.jpg" class="img-fluid rounded-top"
                                 alt="..." style="height:100%;">
                        </div>
                        <div class="col-12">
                            <div class="card-body" style="text-align:center;">
                                <h3 class="card-title">Travolta vs Rabbi Jacob</h3>
                                <p class="card-text">Xtrem</p>
                            </div>
                        </div>
                    </div>
                </div>
                <p>
                    Les menaces de Donald Trump contre le Groenland et l’Europe montrent comment le président américain
                    manie la
                    force brute pour imposer sa vision. Qu’importe les accords et les alliances, si l’Union européenne
                    tente de
                    protéger le territoire danois, le président américain riposte avec des menaces de droits de douanes.
                    Résultat, les relations internationales se résument à un Far-West où ceux qui ont de la puissance
                    font plier
                    ceux qui n’en ont pas.

                    C’est avec cette logique que Trump a mené la barre de son deuxième mandat, au point de
                    progressivement
                    transformer la démocratie américaine en Etat autoritaire. Mais jusqu’où pourra-t-il tenir sa ligne ?
                    Pour
                    répondre à vos questions sur le bilan du président américain, Libération reçoit Sonia
                    Delesalle-Stolper,
                    cheffe du service international et notre journaliste, Frédéric Autran, ancien correspondant aux
                    Etats-Unis.
                    Les menaces de Donald Trump contre le Groenland et l’Europe montrent comment le président américain
                    manie la
                    force brute pour imposer sa vision. Qu’importe les accords et les alliances, si l’Union européenne
                    tente de
                    protéger le territoire danois, le président américain riposte avec des menaces de droits de douanes.
                    Résultat, les relations internationales se résument à un Far-West où ceux qui ont de la puissance
                    font plier
                    ceux qui n’en ont pas.

                    C’est avec cette logique que Trump a mené la barre de son deuxième mandat, au point de
                    progressivement
                    transformer la démocratie américaine en Etat autoritaire. Mais jusqu’où pourra-t-il tenir sa ligne ?
                    Pour
                    répondre à vos questions sur le bilan du président américain, Libération reçoit Sonia
                    Delesalle-Stolper,
                    cheffe du service international et notre journaliste, Frédéric Autran, ancien correspondant aux
                    Etats-Unis.
                </p>
            </article>
        </section>
        <section>
            <article>
                <div style="border: 10px solid white;overflow:hidden;">
                    <img
                        src="https://i.vimeocdn.com/video/675170740-51202829172686998d9101a49b4ecf3107b6b71c48271667a5cacab16ccef6b7-d_200x150?region=us"
                        width="100%">
                </div>
                <h2><span style="color:red;font-weight:bold;">o( °></span> Melania, le film : beaucoup de fric pour un
                    flop</h2>
                <div class="subtitle d-flex justify-content-between mb-2">
                    <span class="author">Kevin Smith</span>
                    <span>&#9733; &#9733; &#9733;</span>
                    <span class="year">1995</span>
                </div>
                <div class="d-flex justify-content-end mb-2">
                    <span class="badge bg-dark">anim</span>
                </div>
                <p>
                    Les menaces de Donald Trump contre le Groenland et l’Europe montrent comment le président américain
                    manie la
                    force brute pour imposer sa vision. Qu’importe les accords et les alliances, si l’Union européenne
                    tente de
                    protéger le territoire danois, le président américain riposte avec des menaces de droits de douanes.
                    Résultat, les relations internationales se résument à un Far-West où ceux qui ont de la puissance
                    font plier
                    ceux qui n’en ont pas.
                </p>
                <div class="d-flex justify-content-center">
                    <img src="{{ playlist.image }}" class="col-6" alt="{{ playlist.name }}"
                         title="{{ playlist.name }}">
                </div>
            </article>
        </section>
        <section>
            <article class="">
                <h2><span style="color:#d5c9ad;">>></span> Un an de Trump II : comprendre la naissance d’un Etat
                    autoritaire</h2>
                <div class="subtitle d-flex justify-content-between">
                    <span class="author">Kevin Smith</span>
                    <span>&#9733; &#9733; &#9733;</span>
                    <span class="year">1995</span>
                </div>
                <div class="video-card card m-5">
                    <div class="row g-0">
                        <div class="col-12">
                            <img src="https://img.youtube.com/vi/2Z-2Zonbano/0.jpg" class="img-fluid rounded-top"
                                 alt="..." style="height:100%;">
                        </div>
                        <div class="col-12">
                            <div class="card-body" style="text-align:center;">
                                <h3 class="card-title">Travolta vs Rabbi Jacob</h3>
                                <p class="card-text">Xtrem</p>
                            </div>
                        </div>
                    </div>
                </div>
                <img src="{{ asset('resources/villemot/[Clio Team] Villemot 1956 Orangina.jpg') }}" width="100%"
                         style="border: 10px solid black;">
                <div class="video-card card m-5">
                    <div class="row g-0">
                        <div class="col-12">
                            <img src="https://img.youtube.com/vi/2Z-2Zonbano/0.jpg" class="img-fluid rounded-top"
                                 alt="..." style="height:100%;">
                        </div>
                        <div class="col-12">
                            <div class="card-body" style="text-align:center;">
                                <h3 class="card-title">Travolta vs Rabbi Jacob</h3>
                                <p class="card-text">Xtrem</p>
                            </div>
                        </div>
                    </div>
                </div>
                <p>
                    Les menaces de Donald Trump contre le Groenland et l’Europe montrent comment le président américain
                    manie la
                    force brute pour imposer sa vision. Qu’importe les accords et les alliances, si l’Union européenne
                    tente de
                    protéger le territoire danois, le président américain riposte avec des menaces de droits de douanes.
                    Résultat, les relations internationales se résument à un Far-West où ceux qui ont de la puissance
                    font plier
                </p>
            </article>
        </section>
        <section>
            <article class="">
                <h2>Un an de Trump II : comprendre la naissance d’un Etat autoritaire</h2>
                <div class="subtitle d-flex justify-content-between">
                    <span class="author">Kevin Smith</span>
                    <span>&#9733; &#9733; &#9733;</span>
                    <span class="year">1995</span>
                </div>
                <p>
                    Les menaces de Donald Trump contre le Groenland et l’Europe montrent comment le président américain
                    manie la
                    force brute pour imposer sa vision. Qu’importe les accords et les alliances, si l’Union européenne
                    tente de
                    protéger le territoire danois, le président américain riposte avec des menaces de droits de douanes.
                    Résultat, les relations internationales se résument à un Far-West où ceux qui ont de la puissance
                    font plier
                    ceux qui n’en ont pas.

                    C’est avec cette logique que Trump a mené la barre de son deuxième mandat, au point de
                    progressivement
                    transformer la démocratie américaine en Etat autoritaire. Mais jusqu’où pourra-t-il tenir sa ligne ?
                    Pour
                    répondre à vos questions sur le bilan du président américain, Libération reçoit Sonia
                    Delesalle-Stolper,
                    cheffe du service international et notre journaliste, Frédéric Autran, ancien correspondant aux
                    Etats-Unis.
                    Les menaces de Donald Trump contre le Groenland et l’Europe montrent comment le président américain
                    manie la
                    force brute pour imposer sa vision. Qu’importe les accords et les alliances, si l’Union européenne
                    tente de
                    protéger le territoire danois, le président américain riposte avec des menaces de droits de douanes.
                    Résultat, les relations internationales se résument à un Far-West où ceux qui ont de la puissance
                    font plier
                    ceux qui n’en ont pas.

                    C’est avec cette logique que Trump a mené la barre de son deuxième mandat, au point de
                    progressivement
                    transformer la démocratie américaine en Etat autoritaire. Mais jusqu’où pourra-t-il tenir sa ligne ?
                    Pour
                    répondre à vos questions sur le bilan du président américain, Libération reçoit Sonia
                    Delesalle-Stolper,
                    cheffe du service international et notre journaliste, Frédéric Autran, ancien correspondant aux
                    Etats-Unis.
                </p>
            </article>
        </section>

            <div class="carousel">
                <div class="group">
                    <div class="carte"><img src="https://img.youtube.com/vi/O-HdzUU5bhE/0.jpg"></div>
                    <div class="carte"><img src="https://img.youtube.com/vi/O-HdzUU5bhE/0.jpg"></div>
                    <div class="carte"><img src="https://img.youtube.com/vi/O-HdzUU5bhE/0.jpg"></div>
                </div>
                <!-- Ajoutez `aria-hidden` pour masquer les cartes dupliquées aux lecteurs d'écran. -->
                <div aria-hidden class="group">
                    <div class="carte"><img src="https://img.youtube.com/vi/O-HdzUU5bhE/0.jpg"></div>
                    <div class="carte"><img src="https://img.youtube.com/vi/O-HdzUU5bhE/0.jpg"></div>
                    <div class="carte"><img src="https://img.youtube.com/vi/O-HdzUU5bhE/0.jpg"></div>
                </div>
            </div>
    </div>
{% endblock %}
