{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} :: Music Albums{% endblock %}

{%  block body %}
    <div class="row">
        <section class="col-sm-12 col-md-12" style="background-color: white;">
            <table id="table">
                {% for album in albums %}
                    <tr>
                        <td>{{ album.id }}</td>
                        <td class="nom">{{ album.auteur ~ ' ' ~ album.name}}</td>
                    </tr>
                {% endfor %}
            </table>
        </section>
    </div>
{% endblock %}