{{ form_start(form, {'attr' : {'onkeydown' : "return event.key != 'Enter';", 'data-controller' : 'album' }}) }}
{{ form_widget(form) }}
<button class="btn btn-primary save-album"
        type="button"
        data-action="album#saveAlbum"
>
    <i class="bi bi-save-fill"></i>&nbsp;Save
</button>&nbsp;
{{ form_end(form) }}
<form name="form_api_search" action="{{ path('api_playlist') }}" method="POST">
    <input type="hidden" name="search_api">
    <input type="hidden" name="id_album">
</form>