{% extends 'base.html.twig' %}

{% block body %}
    {% if app.current_route_parameters['mode'] == 'albums' %}
        <h1><i class="bi bi-disc-fill"></i> Albums</h1>
    {% else %}
        <h1><i class="bi bi-music-note-list"></i> Tracks</h1>
    {% endif %}
    <div {{ stimulus_controller('music', {
        columns: columns_db,
        pathUrl: path_url,
        pageLength: page_length
    }) }}>
        <div class="row">
            <div class="datas-white" style="color:black;">
                <table id="container-datas" class="table display table-dark">
                    <thead>
                    <tr>
                        {% for column in columns_db %}
                            <th>{{ column|capitalize }}</th>
                        {% endfor %}
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
        {% include 'part/_modal.html.twig' with { modalTitle: 'Music', class: 'music-modal' } %}
    </div>
{% endblock %}