{% extends "base.html.twig" %}

{% block title %}{{ parent() }} :: Couch'{% endblock %}

{% block body %}
	<div class="row justify-content-center">
		<div class="col-12 col-lg-6" style="height:500px">
			<div id="player" {{ stimulus_controller('videos-couch', {
				videos : videos
			}) }}></div>
		</div>
	</div>
	{% if form is defined %}
		{% include 'music/part/_filters.html.twig' %}
	{% endif %}
{% endblock %}