$pagination-color: black;
$pagination-active-color: white;
$pagination-active-bg: black;
$pagination-active-border-color: black;
$pagination-hover-color: grey;

$background-color: #061e49;

$navbar-dark-color: rgba(255,255,255, 1);
