$orange-red: #F15A24;
$white-broken: #FFFD93;
$orange-simple: orange;

$background-color: #061e49;

$navbar-dark-color: rgba(255,255,255, 1);
$nav-link-color: #fff;
$nav-link-hover-color: $orange-red;
$nav-pills-link-active-bg: $orange-red;
$nav-pills-link-active-color: black;

$pagination-color: black;
$pagination-active-color: white;
$pagination-active-bg: black;
$pagination-active-border-color: black;
$pagination-hover-color: grey;