$orange-red: #F15A24;
$white-broken: #FFBF00;
$orange-simple: orange;
$border-color-2: #6f42c1;

$background-color: #100060;

$navbar-bg-color: rgba(20,30,30,0.9);
$navbar-dark-color: rgba(255,255,255, 1);
$nav-link-color: #fff;
$nav-link-hover-color: $orange-red;
$nav-pills-link-active-bg: $orange-red;
$nav-pills-link-active-color: black;

$pagination-color: black;
$pagination-active-color: white;
$pagination-active-bg: black;
$pagination-active-border-color: black;
$pagination-hover-color: grey;
