@font-face {
  font-family: "blippok";
  src: url('../font/BLIPPOK.TTF');
}

@font-face {
  font-family: "futuran";
  src: url('../font/FUTURAN.TTF');
}

body {
  background: linear-gradient($background-color, #00050d);
  font-family: "futuran";
}

.content {
  margin-top: 60px;
  padding: 20px;
}

.navbar {
  border-bottom: 1px solid #fff;
}

footer {
  color: white;
  background-color: #212529;
  height: 300px;
}

h1 {
  color: $orange-simple;
  font-family: blippok;
  font-size: 4.6em;
  text-shadow: 1px 1px 3px black;
  border-bottom: 3px dotted $orange-red;
}

@media ( max-width : 1500px) {
  h1 {
    font-size: 3em;
  }
}

@media ( max-width : 755px) {
  h1 {
    font-size: 2em;
  }
}

h1 .bi {
  color: $orange-red;
  font-size:60%;
}

h3 {
  font-size: 1.3em;
  color: $white-broken;
}

a {
  color: orange;
  text-decoration: none;
}

a:hover, a:active {
  text-decoration: none;
  color: #B27300;
}

a.video-link img, a.lienPl img{
  transition: all 1s ease;
  max-width: 100%;
}

a.video-link:hover img, a.lienPl:hover img {
  scale: 1.3;
}

.alert {
  height: 105px;
}

.alert-error {
  color: white;
  background-color: red;
}

.mfp-content {
  max-width: 800px;
}

.well {
  background-color: #999;
  padding:10px;
}

.accordion-body.subAccordion {
  font-size: 80%;
  color:grey;
}

#audio-stick .pres {
  padding: 10px;
  color: white;
  text-align: center;
}