@font-face {
  font-family: "blippok";
  src: url('../fonts/BLIPPOK.TTF');
}

@font-face {
  font-family: "futuran";
  src: url('../fonts/FUTURAN.TTF');
}

body {
  background: linear-gradient($background-color, #00050d);
  font-family: "futuran";
}

.content {
  margin-top: 60px;
  padding: 20px;
  min-height: 1000px;
}

.navbar {
  border-bottom: 1px solid #fff;
}

footer {
  color: white;
  background-color: #212529;
  height: 300px;
}

h1 {
  color: $orange-simple;
  font-family: blippok;
  font-size: 4.6em;
  text-shadow: 1px 1px 3px black;
  border-bottom: 3px dotted $orange-red;
}

@media ( max-width : 1500px) {
  h1 {
    font-size: 3em;
  }
}

@media ( max-width : 755px) {
  h1 {
    font-size: 2em;
  }
}

h1 .bi {
  color: $orange-red;
  font-size:60%;
}

h3 {
  font-size: 1.3em;
  color: $white-broken;
}

a {
  color: orange;
  text-decoration: none;
}

a:hover, a:active {
  text-decoration: none;
  color: #B27300;
}

a.video-link img, a.playlist-link img{
  transition: all 1s ease;
  max-width: 100%;
}

a.video-link:hover img, a.playlist-link:hover img {
  scale: 1.3;
}

.alert {
  height: 105px;
}

.alert-error {
  color: white;
  background-color: red;
}

.invalid-feedback {
  color: #ff5500;
}

.mfp-content {
  max-width: 800px;
}

.well {
  background-color: #6882a475;
  color:white;
  padding:40px;
  border-radius: 12px;
  border: 1px solid $border-color-2;
}

.accordion-body.subAccordion {
  font-size: 80%;
  color:grey;
}

.flux-header {
  background-color:#1b7780;
  color:white;
  font-size: 1.6em;
}

#audio-stick .pres {
  padding: 10px;
  color: white;
  text-align: center;
}

.flux-titre {
  color: white;
  font-weight: bold;
}

.datas-white {
  background-color: white;
  padding: 10px;
}

.icon-youtube {
  font-size: 2em;
  color: red;
}

.modal-header {
  color: yellow;
  background-color: #061e49;
}

.modal-footer {
  color: yellow;
  background-color: #061e49;
}

.music-modal {
  background-color: black;
  color: white;
}

.music-title {
  border-top : 2px solid white;
  border-bottom : 2px solid white;
  padding: 1em;
}

.music-album {
  font-size: 2.5em;
  color: orange;
  line-height: 1;
}

.music-auteur {
  font-size: 1.5em;
  color: red;
}