.media-select h1 {
  text-align: right;
}

.medias-bande {
  margin-top:10px;
  display:flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.media-vignette {
  padding: 0 10px;
}

.page_videos_sous_titre {
  font-size: 2em;
  text-align:center;
  color: white;
  line-height: 1.1;
}

.page_videos_sous_titre .badge {
  font-size: 0.5em;
}

.page_videos_genre {
  font-size:1.5em;
  text-align:right;
  color:#9dff00;
  line-height: 1.1;
}

.page_videos_periode {
  font-size:1em;
  text-align:right;
  color:#ffeb00;
  margin-top:1em;
}

.media, .media-body {
  overflow: hidden;
}

.topcol .media-body {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 5px;
  margin-top: -4em;
  height: 4em;
  position: relative;
  width: 100%;
  text-shadow: 1px 1px black;
}

.media-body h4 {
  color: yellow;
}

.categorie {
  color: $orange-simple;
  position: absolute;
  z-index: 991;
  font-weight: bold;
  font-size: 80%;
}

.vignette-item {
  color:black;
}

.video-link img {
  z-index: 0;
}

img.no-picture {
  opacity: 0.3;
}