<table class="table">
    {% if track is not empty %}
    <tr>
        <td>{{ track.titre }}</td>
        <td>{{ track.auteur }}</td>
        <td>{{ track.album }}</td>
        <td>{{ track.annee }}</td>
    </tr>
    {% endif %}
</table>